.App {
  text-align: center;
  background-color: black;
  color: white;

}
body{
  background-color: black;
  color: white;
}

.tarolo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.oszlop{
  flex: 1;
}


@media (max-width: 600px) {
  .oszlop{
    flex: 100%;
  }
}